div.navbar__logo: img( src='../images/logo.png' )
div
    .navbar__menu
        include ../../../icons/menu.svg

    .navbar__actions
        span.navbar__search
            include ../../../icons/search.svg
        span.navbar__shopping-cart
            include ../../../icons/shopping-cart.svg

    .navbar__sections
        span.navbar__section إصدارات جديدة
        span.navbar__section  رجالي
        span.navbar__section  نسائي
        span.navbar__section  أطفالي
        span.navbar__section  تشكيلة