.descriptor__name
    .descriptor__background Nike
    span
.descriptor__description
.descriptor__footer
    .descriptor__buy-btn إشتري الان
    .descriptor__price
        span
        include ../../../icons/dollar-sign.svg
