.descriptor {
    margin: 0 5em;
    width: 25em;
    
    &__background {
        position: absolute;
        font-size: 4em;
        font-family: Cairo;
        color: var(--gray-200);
        z-index: -1;
        margin-right: 30px;
    }

    &__name {
        font-size: 2em;
        height: 4em;
        display: flex;
        align-items: center;
    }

    &__description {
        font-weight: 300;
        margin-bottom: 2em;
    }

    &__footer {
        display: flex;
        align-items: center;
    }

    &__buy-btn {
        display: inline-block;
        background: var(--gray-300);
        padding: 10px;
        border-radius: 10px;
        width: 7em;
        text-align: center;
        cursor: pointer;
    }

    &__price {
        font-family: Cairo;
        font-size: 2em;
        height: 45px;
        display: flex;
        align-items: center;
        margin: 0px 0.5em;
    }
}

@keyframes typing {
    0% {
        width: 0;
    }
}